:root {
    --primary-bg: #2b2d42;
    --secondary-bg: #8d99ae;
    --primary-accent: #edf2f4;
    --primary-outline: #;
    --form-bg: #000000;
    --secondary-accent: #22a579;
    --og-text: #616161;
    --op-text: #000000;
    --idk-text: #94d1f0;
    --b-r-main: 6px;
    --spacing-p: 0.5rem;



}

.red {
    background-color: #ff0000;
}

img,
svg,
video {
    display: block;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
    background-color: #313576a7;
    background-image: url(../Media/Photos/bgMaybe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.alertDiv_active {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.alertBox_active {
    position: absolute;
    background-color: var(--primary-accent);
    width: 150px;
    height: 33px;
    border-radius: 2rem;
    box-shadow: var(--og-text) 0rem 0rem 1rem;
    /* padding: 3px; */
    gap: var(--b-r-main);


}

.alertBox_active div {
    position: absolute;
    right: 0;
    top: 50%;
    margin-inline: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #2b2d42;
    animation: wait infinite ease-in-out 1500ms;
}

@keyframes wait {
    10% {
        right: 0;
    }

    /* 25%{
        left: 25%;
        
    }
    50%{
        left: 50%;
        
    }
    75%{
        left: 75%;
        
    } */

    50% {

        right: 78%;

    }
}

/*! btns */
.Btns_Clicked {
    outline: #ff0000 2px solid;
}

/*! btns */
.root_Wrapper {
    margin-inline: auto;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    padding-block: var(--spacing-p);
    padding-inline: calc(var(--spacing-p)*2);
    display: flex;
    gap: var(--spacing-p);
    flex-direction: column;
}

/* !navbar */
.navbar_Wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user_Wrapper {
    gap: var(--spacing-p);
    width: fit-content;
    display: flex;
    align-items: center;
}

.navbar_user_btns {
    background-color: var(--secondary-bg);
    border: none;
    border-radius: 50%;
    padding: 0.3rem;



}

.PrimaryBTNs {
    display: flex;
    gap: var(--b-r-main);
}

.material-symbols-outlined {
    color: var(--primary-accent);
    display: block;
}

.navBar_btn_Txt {
    padding-right: calc(var(--b-r-main)*2);
    background-color: var(--primary-accent);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: var(--b-r-main);
    font-weight: 700;
}

.navBar_btn_Txt button {
    border: 2px var(--primary-accent) solid;
}

.navBar_btn_Txt button:active {
    border: 2px var(--secondary-bg) solid;
}

.addListing_btn_icon {
    transition: transform ease-in-out;
}

.addListing_btn_icon_rotated {
    transform: rotate(45deg);
}


.navbar_user_btns:active {
    transition: all 100ms linear;
    /* outline: 2px var(--secondary-bg) solid; */

    transform: scale(1.1);
}

.navbar_user_btns:hover {
    cursor: pointer;
    opacity: 0.9;
}

.displayNone {
    display: none;
}

.content_Wrapper {
    flex-grow: 1;
    background-color: transparent;
    display: grid;
    gap: var(--spacing-p);
    grid-template-columns: 25rem auto;
}

.content_Wrapper::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.content_Wrapper {
    overflow-x: hidden;
}

.content_Wrapper::-webkit-scrollbar-thumb {
    background-color: #edf2f4;
    border-radius: 6px;
}

.content_Wrapper::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.13);
}

.form_Wrapper {
    display: none;
}

.form_Wrapper_actives {
    display: block;
}

.map_Wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-p);
    position: relative;
    grid-column: span 2;
    width: 100%;
    overflow: hidden;

}

.map_Wrapper_active {
    grid-column: 2;
}

.map_map {
    flex-grow: 1;
    border-radius: var(--b-r-main);
    background-color: var(--primary-accent);
    height: 100%;
}

.PreviewTitle {
    display: none;
}

.PreviewTitle_active {
    display: block;
}

.options_Wrapper_none {
    display: none;
}


/*! Create Listing Form  */

.createListingForm {
    background-color: var(--primary-bg);
    padding: var(--b-r-main);

    color: #000;
    height: 100%;
}

.createListingForm {

    display: flex;
    flex-direction: column;
    gap: var(--spacing-p);

}

.createListingTitle {
    background-color: var(--primary-accent);
    color: var(--og-text);
    padding: var(--spacing-p);
    width: 100%;
    font-size: 2rem;
    /* border: var(--primary-accent) 2px solid; */
    font-weight: 600;
    border-radius: var(--b-r-main);

}

.CreateListingForm_HTML {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--b-r-main);
}

.form_inputs_section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-p);

}

.form_end_btns {
    background-color: var(--primary-accent);
    border-radius: var(--b-r-main);
    padding-block: var(--b-r-main);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: var(--og-text);
    border: none;
}

.form_end_btns:hover {
    cursor: pointer;
}

.form_end_btns:active {
    scale: 1.025;
    outline: var(--op-text) 2px solid;
}

.formBtns {
    padding-top: var(--b-r-main);
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(2, 1fr);
}

.formListingLabel {
    display: block;
    font-weight: 500;
    font-size: 1.1rem;
    width: 100%;
}

.formListingLabel:hover {
    cursor: pointer;
}

.formelements {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: var(--og-text);
    padding: 0.5rem;
    border-radius: var(--b-r-main);
    background-color: var(--primary-accent);
}

#ListingImagesInput {
    display: none;
}

.formInput {
    border-style: hidden;
    display: block;
    width: 100%;
    appearance: none;
    border: none;
    background-color: inherit;
    color: var(--op-text);
    font-size: 1.2rem;

}

.formInput:focus {
    outline: none;
}

.formInput::-webkit-scrollbar {
    display: none;
}

.CreateListing_photo_wrapper {
    display: flex;
    gap: var(--b-r-main);
}

.photoPreviewBox {
    border-radius: var(--b-r-main);
    width: 3.5rem;
    height: 100%;
    display: none;
}

.photoPreviewBox_active {
    display: block;
}

.addPhotoBTN {
    width: fit-content;
    padding: 0.2rem;
    border-radius: var(--b-r-main);
    border: none;

}

.addPhotoBTN:hover {
    cursor: pointer;
}

.addPhotoBTN:active {
    background-color: #2b2d421f;
}

.CreateListing_description {
    white-space: pre-wrap;
    width: 100%;
    height: 400px;
    resize: none;
    border: none;

}




@media (max-width:1000px) {
    body {
        min-height: 100vh;
    }

    .content_Wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: var(--b-r-main);
    }

    .map_Wrapper {
        grid-column: span 2;
        /* grid-row: span 2; */
    }

    .map_Wrapper_active {
        grid-column: 2;
    }

    .listingMarkerBody_Fake {

        width: 100%;

    }

    .notifications_message {
        width: 30rem;
        top: 3rem;
        right: var(--b-r-main);
    }

    .bottomMapSpacing {
        height: 0;
        display: none;
    }
}



@media (max-width:620px) {
    body {
        min-height: 100vh;
    }

    .navbar_Wrapper {
        justify-content: start;
    }

    .PrimaryBTNs {
        flex-direction: column;
    }

    .root_Wrapper {
        min-height: 100%;
        justify-content: start;

    }

    .content_Wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: max-content calc(100% - 5rem);
        padding-inline-end: var(--b-r-main);
        gap: 5rem;
    }

    .map_Wrapper {
        grid-column: 1;
        grid-row: span 2;
    }

    .Create {
        grid-column: 1;
        grid-row: span 2;
    }

    .notifications_message {
        width: 100%;
        top: 6.6rem;
        right: 0;
        border-radius: var(--b-r-main) var(--b-r-main) 0 0;
    }

    .bottomMapSpacing {
        /* height: var(--b-r-main); */
        display: block;

    }
}

/* ! End Ui Css ! */


/* ? Map Styles ? */

.listingMarkerBody {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: auto;
    width: 80px;
    background-color: #2b2d42;
    border-radius: var(--b-r-main);
    padding: 0.25rem;
    transition: all 200ms ease-out;
}

.listingMarkerBody.highlight {
    width: 250px;
}

.listingMarkerBody::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2b2d42;
}

.listingMarkerPhotoBox {
    width: 100%;
    background-color: transparent;
}

.listingMarkerPhoto:hover {
    cursor: pointer;
}

.listingMarkerPhoto:active {
    transform: scale(0.98);
}

.listingMarkerPhoto {
    object-fit: contain;

    width: 100%;
    border-radius: var(--b-r-main);
}

.listingMarkerDescBox {
    display: none;
    row-gap: 0.5rem;
    grid-template-rows: auto auto;
    column-gap: 0.25rem;
    grid-template-columns: auto auto;
    font-weight: 500;
}

.listingMarkerBody.highlight .listingMarkerDescBox {
    display: grid;
}

.listingMarkerTitle {
    grid-column: span 2;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.listingMarkerDesc {
    display: none;
}

.listingMarkerBtns {
    border: none;
    border-radius: var(--b-r-main);
    padding-inline: 0.15rem;
    font-size: 1.1rem;
}

.listingMarkerDirectionBtn {
    background-color: #fdfdfd;

}

.listingMarkerPrice {
    grid-column: 2;
    grid-row: 2;
    /* width: fit-content; */
    background-color: #fdfdfd;
    color: var(--secondary-accent);
    font-weight: 600;


}

.listingDescBtnsWrapper {
    display: flex;
    justify-content: flex-end;
}

.listingFullscreenBox_Wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;

}

/*! listing Previw Window */
.fullscreenViewBox {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    padding-inline-end: var(--b-r-main);
}

.FullscreenView {
    border-radius: var(--b-r-main);

    position: relative;
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: var(--b-r-main); */
}

.FullscreenViewTitleandPrice {
    width: 100%;
    background-color: var(--primary-accent);
    padding: var(--b-r-main);
    border-radius: 0 0 var(--b-r-main) var(--b-r-main);
}

.FullscreenViewTitle {
    width: 100%;
    /* border-radius: var(--b-r-main); */
    color: var(--op-text);
    font-size: 1.8rem;
    font-weight: 600;
}

.FullscreenViewPrice {
    width: max-content;
    bottom: var(--b-r-main);
    left: var(--b-r-main);
    position: absolute;

}

.FullscreenViewPrice p {
    color: var(--primary-accent);
    background-color: var(--secondary-accent);
    padding: var(--b-r-main);
    border-radius: var(--b-r-main);
    font-weight: 600;
    font-size: 1.3rem;
}

.FullscreenViewPhoto {
    background-color: var(--primary-accent);
    width: 100%;
    border-radius: var(--b-r-main) var(--b-r-main) 0 0;
    position: relative;
    overflow: hidden;
}

.FullscreenViewPhoto img {
    width: 100%;
}

.FullscreenViewDesc {
    white-space: pre-wrap;
    width: 100%;
    color: #242424;
    background-color: var(--primary-accent);
    padding: var(--b-r-main);
    font-size: 1.1rem;
    font-weight: 400;
}

.routeSection {
    display: flex;
    flex-direction: column;
    gap: var(--b-r-main);
}

.routeIcons {
    display: flex;
    justify-content: center;
    padding: 2px;
    width: fit-content;
    border-radius: 50%;
    background-color: var(--primary-accent);
}

.routeIcons span {
    color: #0094de;
}

.routeParts {
    width: fit-content;
    border-radius: 1rem;
    display: flex;
    gap: var(--b-r-main);
    align-items: center;
    padding-block: 3px;
    padding-inline: 3px 0.5rem;

    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary-bg);
    color: var(--primary-accent);
}

.listingAlert {
    background-color: #61616176;
    padding: var(--b-r-main);
    border-radius: var(--b-r-main);
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: var(--b-r-main);
    margin-block-start: var(--b-r-main);
    color: var(--primary-accent);
}

.listingAlert .material-symbols-outlned {
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
}

@keyframes drop {
    0% {
        transform: translateY(-300px) scaleY(0.9);
        opacity: 0;
    }

    5% {
        opacity: 0.7;
    }

    50% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }

    65% {
        transform: translateY(-17px) scaleY(0.9);
        opacity: 1;
    }

    75% {
        transform: translateY(-22px) scaleY(0.9);
        opacity: 1;
    }

    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

.drop {
    animation: drop 350ms cubic-bezier(0.08, 0.82, 0, 1.47);
}

/* .durationpart{
    

} */